/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*Page padding-top is set to 10px*/
@font-face {
    font-family: 'WebComponentsIcons';
    src: url(../lib/kendo-ui/styles/fonts/glyphs/WebComponentsIcons.eot);
    src: url(../lib/kendo-ui/styles/fonts/glyphs/WebComponentsIcons.woff) format('woff');
}

body {
    padding-top: 5px;
    padding-bottom: 20px;
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #212445;
}

.app-header {
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

h1 {
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

h2 {
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

h3 {
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

h4 {
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

h5 {
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.btn {
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

label {
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    margin-top: 5px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* all caps class */
.allcaps {
    text-transform: uppercase;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Overlay for disabling full page when Data API is not running. */
#overlay {
    background-color: rgba(0, 0, 0, .2);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

​
/* PDF Export styles
-------------------------------------------------- */
.pdf-page {
    position: relative;
    margin: 0 auto;
    padding: .4in .3in;
    color: #333;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

/* Kendo styles
-------------------------------------------------- */

span.k-autocomplete .k-state-default,
span.k-autocomplete.k-state-focused,
span.k-autocomplete .k-state-hover {
    height: 35px !important;
}

.k-autocomplete .k-input,
.k-autocomplete.k-state-focused .k-input {
    height: 30px !important;
    border: solid 1px #5B616B;
}

.k-combobox {
    height: 35px !important;
}

    .k-combobox .k-input {
        height: 30px !important;
    }

span.k-dropdown, .k-dropdown .k-state-hover, .k-dropdown .k-state-default, .k-dropdown .k-state-focused {
    /*height: 35px !important;*/
    border: solid 1px rgb(169,169,169);
    /*background-color: #fff;*/
}

.k-dropdown .k-state-default,
.k-dropdown .k-state-hover,
.k-dropdown .k-state-focused {
    background-color: transparent;
    border: none;
}

/*.k-dropdown .k-input, .k-dropdown .k-input k-state-hover, .k-dropdown .k-input k-state-focused {
    height: 30px !important;
    border: none;
   
}*/
/*.k-dropdown-wrap {
    padding-bottom: 12px;
    background-color: #f5f5f5 !important;
}*/
.k-dropdown .k-select .k-state-default,
.k-dropdown .k-select .k-state-hover,
.k-dropdown .k-select .k-state-focused {
    height: 30px !important;
    border: none;
}

.k-textbox,
.k-textbox:focus {
    border: solid 1px #5B616B;
}

    .k-textbox,
    .k-textbox:hover {
        border: solid 1px #5B616B;
    }

/*.k-dropdown, .k-dropdown-wrap {
    display: inline-block;
}

.k-input {
    background-color: #f5f5f5 !important;
}*/
.k-datetimepicker {
    border: solid 1px rgb(169,169,169);
}

    .k-datetimepicker .k-select {
        border-left: solid 1px rgb(169,169,169);
    }

.k-datepicker {
    /*height: 35px !important;*/
    border: solid 1px rgb(169,169,169);
    /* background-color: #fff;*/
}

    .k-datepicker .k-input {
        background: #fff;
    }

.k-grid td {
    padding: 0.1em 1em 0.1em 1em;
}

.k-header {
    background-color: #112e51;
}

.k-grid .k-header .k-button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #0069b4;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
}

    .k-grid .k-header .k-button:hover {
        background-color: #1e4f94;
        border-bottom: 0;
        color: white;
        text-decoration: none;
    }

.k-grid-header .k-header,
.k-grid-header .k-link:link {
    background-color: #f1f1f1;
    color: #212121;
    font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.k-grid-header th.k-header {
    text-align: center;
    overflow: visible !important;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
}


.k-textbox {
    height: 35px !important;
}

.k-upload {
    min-width: 450px;
}

div.k-dropzone em {
    display: inline;
    visibility: visible;
    margin-right: 20px;
}

.k-widget.k-tooltip-validation.k-invalid-msg {
    background-color: #ffffff;
    color: #b50909;
    /* uswds error text color */
    border: solid 1px #b50909;
    padding: 5px;
    margin-bottom: 5px;
    max-width: 430px;
}

.k-tooltip-validation .k-callout-n {
    border-bottom-color: #b50909;
}

/*Cross-Browser - in Chrome (not IE), kendo validation messages are displayed 
content the same line aside control if window is wide enough.*/
span.k-widget.k-tooltip-validation.k-invalid-msg {
    display: table;
}

/* GSA_alert styles */
.k-widget.k-window.k-dialog.k-alert {
    max-width: 500px;
}

.k-window-titlebar.k-dialog-titlebar.k-header {
    padding: 0px;
}

.k-window-title.k-dialog-title {
    background-color: #eeeeee;
    padding: 10px;
    width: 100%;
}

.k-dialog > .k-header {
    background-color: #eeeeee;
    padding: 10px;
    width: 100%;
}

/* approval screen */
h3 {
    padding-bottom: 20px;
}

[type=submit] {
    margin: 0;
}

.hide {
    display: none;
}

#grid-export-header {
    padding-bottom: 20px;
    background: #ffffff;
}

.k-grid,
.k-grid .k-auto-scrollable {
    height: auto !important;
    overflow-y: visible !important;
}

/* Hide the Grid header, pager and filters during export */
.k-pdf-export .k-grid-toolbar,
.k-pdf-export .k-pager-wrap,
.k-pdf-export .k-filterable .k-grid-filter {
    display: none;
}

.redWarningCopy {
    color: #cc0000;
}


/* FMIT Common controls styles
-------------------------------------------------- */
.modal-header {
    cursor: move;
}

.modalXl {
    width: 900px;
    margin-left: 10%;
}

/* Grid formatting styles */
.negative-currency {
    color: red;
}

/* Replace pager glyph icons after 508 formatting. */
.k-i-arrow-end-left::before,
.k-i-arrow-end-right::before,
.k-i-arrow-60-left::before,
.k-i-arrow-60-right::before {
    font-family: 'WebComponentsIcons';
}

/* Logo Header with over-ride */
.usa-header-slim-logo-img {
    float: left;
    max-width: 40px;
}

.usa-logo__text {
    line-height: 0;
    padding-top: 10px;
}

.usa-footer-contact_info:hover {
    text-decoration: none;
}

.usa-header {
    border-bottom: 1px solid #d5d8db;
    margin-bottom: 1rem;
}

@media all and (min-width: 64em) {
    .usa-logo {
        margin-top: 1rem;
    }

    .usa-header--basic .usa-navbar {
        width: 50%;
    }
}

.usa-footer .usa-footer__primary-link {
    text-decoration: underline;
    padding-bottom: 0px;
}

    .usa-footer .usa-footer__primary-link:hover {
        cursor: pointer;
        text-decoration: underline;
    }

@media screen and (min-width: 951px) {
    .usa-header-slim-logo-img {
        max-width: 60px;
    }

    .usa-logo__text {
        line-height: 0;
        padding-top: 30px;
    }
}

.toolBar {
    display: flex !important;
    background-color: #E1E0DB;
}

.rsnapGrid {
    overflow-x: scroll;
}

.rsnapGrid .toolBar button {
    margin-left: 10px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .rsnapGrid.toolBar button:focus {
        border-color: #4e555b;
        box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
    }

#approvalsContainer .k-pager-refresh {
    margin-right: 15px !important;
}

#approvalsContainer {
    max-width: none;
    padding: 0;
}

    #approvalsContainer .k-grid-toolbar {
        background-color: #E1E0DB !important;
    }

    #approvalsContainer table {
        font-size: 11px !important;
    }

    #approvalsContainer .k-link {
        font-size: 12px !important;
        word-wrap: normal !important;
        margin: auto !important;
        padding: 10px 2px;
        overflow: visible;
        background-color: #ffffff;
        font-weight: 700;
        color: #495057;
    }

    #approvalsContainer th.k-header {
        /*padding: 5 !important;*/
        word-wrap: normal;
        word-break: keep-all;
        height: auto !important;
        white-space: normal !important;
        font-weight: 700;
        color: #495057;
        border: 1px solid #e9ecef;
        border-bottom-width: 5px;
        background-color: #E1E0DB;
    }

     #approvalsContainer th.k-header a {
          background-color: #E1E0DB;
     }


        #approvalsContainer tr th:nth-child(17),
        #approvalsContainer tr td:nth-child(17) {
            min-width: 100px;
        }
    #approvalsContainer tr th:nth-child(20),
    #approvalsContainer tr td:nth-child(20) {
        min-width: 130px;
    }

    #approvalsContainer tr th:first-child,
    #approvalsContainer tr td:first-child {
        /*padding: 0 !important;*/
        padding-left: 10px;
        padding-right: 10px;
    }

    #approvalsContainer .k-pager-nav {
        margin: 0px !important;
        min-width: 69px;
    }


    #approvalsContainer .k-grid td {
        padding: 4px 3px 4px 2px;
        font-size: 0.98em;
    }

.k-no-text {
    color: #999999 !important;
    background-color: #999999 !important;
}

#approvalsContainer .k-dropdown {
}

:disabled.k-checkbox + .k-checkbox-label::before {
    background-color: #999999 !important;
    border-color: #999999 !important;
}

:disabled.k-checkbox + .k-checkbox-label::after {
    content: "";
}

.rsnap-grid {
    color: #000 !important;
}

    .rsnap-grid td .rsnap-grid th {
        border: 1px solid #e9ecef;
    }

.k-grid tbody tr:hover td {
    background-color: #e0f3ff !important;
}

.k-grid tr td {
    background-color: #fff !important;
    color: #000 !important;
}

.k-grid tr.k-alt td {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #000 !important;
}

#approvalsContainer .k-state-selected:not(.select-disabled) td {
    background-color: rgb(108, 117, 125) !important;
    color: #fff !important;
}
.noteClass{
    min-width:20px;
}

#ApprovalsGrid {
    display: inline-block !important;
}
/*#ApprovalsGrid > table {
    table-layout: fixed;
}*/
.k-grid-pager {
    display:inline-flex;
}
.gray-font {
    color: #a9aeb1 !important;
}

/*.k-pager-wrap.k-pager-md .k-pager-info, .k-pager-wrap.k-pager-sm .k-pager-info {
     display: flex !important; 
}*/

.k-pager-sizes {
    display: none !important;
}
.k-pager-wrap {
    margin-left: 15px !important;
}

.k-pager-last {
    margin-right: 15px !important;
}



