@{
    ViewData["Title"] = "Home Page - Logged In";
}

<div class="text-center">
    <h1 class="display-4">Recurring Services Notification Approval Process(RSNAP)</h1>
    <h1 class="display-5">Welcome to RSNAP</h1>
</div>
<script>
    setTimeout("location.href='/Approvals/Index';", 3000);
</script>

